{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": 0,
        "max-len": ["error", 120],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "for-direction": "error",
        "getter-return": "error",
        "no-console": "off"
    }
}
