{
  "extends": ["airbnb-base", "plugin:import/recommended", "plugin:prettier/recommended"],
  "plugins": ["jsdoc", "lodash", "prettier"],
  "globals": {
    "expectAsync": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": 2,
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "consistent-return": 0,
    "no-plusplus": 0,
    "class-methods-use-this": 0,
    "no-else-return": 0,
    "lines-between-class-members": 0,
    "import/no-extraneous-dependencies": 0,
    "func-names": 0,
    "import/prefer-default-export": 0,
    "dot-notation": 0,
    "no-unused-expressions": "off",
    "prefer-destructuring": "warn",
    "arrow-parens": "error",
    "default-param-last": "warn",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" },
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "any", "prev": "import", "next": "import" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "any", "prev": "export", "next": "export" }
    ]
  }
}
